@font-face {
  font-family: 'AvenirNext';
  src: url("../fonts/AvenirNext/AvenirNext-Regular.ttf"); /* File to be stored at your site */
  font-weight: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../fonts/AvenirNext/AvenirNext-DemiBold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../fonts/AvenirNext/AvenirNext-UltraLight.ttf");
  font-weight: 100;
}
@font-face {
  font-family: 'NotoSans-T-Chinese';
  src: url("../fonts/NotoSans-T-Chinese/NotoSansHant-Regular.otf"); /* File to be stored at your site */
}
@font-face {
  font-family: 'NotoSans-S-Chinese';
  src: url("../fonts/NotoSans-S-Chinese/NotoSansHans-Regular.otf"); /* File to be stored at your site */
}

body {
  background-image: url('../images/bg.png');
  margin: 0;
  padding: 0;
  font-family: 'AvenirNext','NotoSans-T-Chinese','NotoSans-S-Chinese';
  position: relative;
  width: 1080px;
  height: 1920px;
  background-repeat: no-repeat;
  color: #534741;

  &:not(.f1) {
    .f1-only {
      display: none !important;
    }
  }
  &:not(.f2) {
    .f2-only {
      display: none !important;
    }
  }
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
.platform{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  z-index: -1;
  &.fg {    background-image: url("../images/map/gf-platform.png");  }
  &.f1 {    background-image: url("../images/map/1f-platform.png");  }
  &.f2 {    background-image: url("../images/map/2f-platform.png");  }
  &.f3 {    background-image: url("../images/map/3f-platform.png");  }
  &.f4 {    background-image: url("../images/map/4f-platform.png");  }
  &.f5 {    background-image: url("../images/map/5f-platform.png");  }
  &.f6 {    background-image: url("../images/map/6f-platform.png");  }
}
.map-container {
  position: relative;
  display: block;
  width: 1080px;
  height: 1023px;
  margin-bottom: 150px;
  background-image: url("../images/map/track.png");
  background-repeat: no-repeat;
  .platform-container {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 0;
    transition: all .5s .5s;
    .fg {
      margin-top: 0;
      opacity: .35;
      transition: all .2s 0s;
    }
    .f1 {
      margin-top: 0;
      opacity: .45;
      transition: all .2s .1s;
    }
    .f2 {
      margin-top: 0;
      opacity: 1;
      transition: all .2s .2s;
    }
    .f3 {
      margin-top: -52px;
      opacity: 0;
      transition: all .4s 0s;
    }
    .f4 {
      margin-top: -52px;
      opacity: 0;
      transition: all .4s .1s;
    }
    .f5 {
      margin-top: -52px;
      opacity: 0;
      transition: all .4s .2s;
    }
    .f6 {
      margin-top: -52px;
      opacity: 0;
      transition: all .4s .3s;
    }
  }

  &.f1-active {
    .platform-container {
      margin-top: 0;
      transition: all 1s 1.3s;
      .fg {
        opacity: 0; // image contains the platform
        // opacity: 0.45;
        transition: all .5s 1.6s;
      }
      .f1 {
        opacity: 0; // image contains the platform
      }
      .f2, .f3, .f4, .f5, .f6 {
        opacity: 0;
      }
    }
    .first-floor-container canvas {
      margin-top: 23px;
      transition: margin-top 0s 1s;
    }
  }

  &.gf-active {
    .platform-container{
      margin-top: 0;
      transition: all 1s 1.3s;
      .fg {
        opacity: 1;
        transition: all .5s 1.6s;
      }
      .f4,.f5,.f6 {
        opacity: 0;
      }
      .f1 {
        margin-top: -52px;
        opacity: 0;
        transition: all 1s 1.2s;
      }
      .f2 {
        margin-top: -52px;
        opacity: 0;
        transition: all 1s .8s;
      }
    }
    .ground-floor-container canvas{
      margin-top: 23px;
      transition: margin-top 0s 1s;
    }
  }
  &.gf-lift-active.gf-active {
    #map-layer-commonLiftIcon {
      margin-top: 75px;
      transition: margin-top 1s 3s,top 1s .8s;
    }
  }
  &.f6-lift-active {
    #map-layer-commonLiftIcon {
      margin-top: -45px;
      transition: margin-top 1s 1s;
    }
  }
  &.f6-active {
    .platform-container{
      margin-top: 0;
      transition: all 1s 1.5s;
      .fg {
        opacity: 0.05;
        transition: margin-top .2s 0s, opacity 1s .6s;
      }
      .f1 {
        opacity: 0.15;
        transition: margin-top .2s .2s, opacity 1s .6s;
      }
      .f2 {
        opacity: 0.25;
        transition: margin-top .2s .4s, opacity 1s .6s;
      }
      .f3 {
        margin-top: 0;
        opacity: 0.35;
        transition: margin-top .2s .6s, opacity 1s .4s;
      }
      .f4 {
        margin-top: 0;
        opacity: 0.45;
        transition: margin-top .2s .8s, opacity 1s .6s;
      }
      .f5 {
        margin-top: 0;
        opacity: 0.55;
        transition: margin-top .2s 1s, opacity 1s .8s;
      }
      .f6 {
        margin-top: 0;
        opacity: 1;
        transition: margin-top .2s 1.2s, opacity 1s 1s;
      }
    }
    .sixth-floor-container canvas {
      margin-top:-45px;
      transition: margin-top 0s 1s;
    }

    &.done {
      .platform-container{
        margin-top: 0;
        transition: all .2s 1.5s;
        .fg {
          margin-top: 200px;
          opacity: 0;
          transition: all 1s .2s;
        }
        .f1 {
          margin-top: 200px;
          opacity: 0;
          transition: all 1s .4s;
        }
        .f2 {
          margin-top: 200px;
          opacity: 0;
          transition: all 1s .6s;
        }
        .f3 {
          margin-top: 200px;
          opacity: 0;
          transition: all 1s .8s;
        }
        .f4 {
          margin-top: 200px;
          opacity: 0;
          transition: all 1s 1s;
        }
        .f5 {
          margin-top: 200px;
          opacity: 0;
          transition: all 1s 1.2s;
        }
      }
    }
  }
}
.floor-container {
  position: absolute;
  left: 0;
  display: block;
  width: 1080px;
  height: 1023px;
  background-repeat: no-repeat;
  opacity: 0;
}

.second-floor-container {
  background-image: url("../images/map/2f-map.png");
  transition: all 1s .8s;
  margin-top: -52px;

  &.active {
    opacity: 1;
    margin-top: 0;
    transition: all 0.5s;
  }
}
.f6-active .second-floor-container {
  margin-top: 0;
  opacity: 0;
  transition: all 1s 1s;
  &.active {
    opacity: 1;
    margin-top: 0;
    transition: all 0.5s;
  }
}
.ground-floor-container {
  top: 0;
  background-image: url("../images/map/gf-map.png");
  background-position-y: 0;
  transition: all 0.5s;

  &.active {
    opacity: 1;
    transition: all 1s 1s;
  }
}

.first-floor-container {
  top: 0;
  background-image: url("../images/map/1f-map.png");
  background-position-y: 0;
  transition: all 0.5s;
  &.active {
    opacity: 1;
    transition: all 1s 1s;
  }
  .blue-blocks {
    width: 100%;
    height: 100%;
  }
  .map-direction {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
[data-displaying-lang='cht'] .first-floor-container {
  .map-direction {
    background-image: url("../images/map/F1/t_cn_you_are_here-01.svg");
    &.female-toilet {
      background-image: url("../images/map/F1/t_cn_female_toilet-01.svg");
    }
    &.male-toilet {
      background-image: url("../images/map/F1/t_cn_male_toilet-01.svg");
    }
    &.disable-toilet {
      background-image: url("../images/map/F1/t_cn_disabled_toilet-01.svg");
    }
    &.customer-service-counter {
      background-image: url("../images/map/F1/t_cn_customer_service-01.svg");
    }
    &.betting-counter {
      background-image: url("../images/map/F1/t_cn_betting_counter-01.svg");
    }
  }
}
[data-displaying-lang='chs'] .first-floor-container {
  .map-direction {
    background-image: url("../images/map/F1/s_cn_you_are_here-01.svg");
    &.female-toilet {
      background-image: url("../images/map/F1/s_cn_female_toilet-01.svg");
    }
    &.male-toilet {
      background-image: url("../images/map/F1/s_cn_male_toilet-01.svg");
    }
    &.disable-toilet {
      background-image: url("../images/map/F1/s_cn_disabled_toilet-01.svg");
    }
    &.customer-service-counter {
      background-image: url("../images/map/F1/s_cn_customer_service-01.svg");
    }
    &.betting-counter {
      background-image: url("../images/map/F1/s_cn_betting_counter-01.svg");
    }
  }
}
.first-floor-container {
  .map-direction {
    background-image: url("../images/map/F1/you_are_here-01.svg");
    &.female-toilet {
      background-image: url("../images/map/F1/female_toilet-01.svg");
    }
    &.male-toilet {
      background-image: url("../images/map/F1/male_toilet-01.svg");
    }
    &.disable-toilet {
      background-image: url("../images/map/F1/disabled_toilet-01.svg");
    }
    &.customer-service-counter {
      background-image: url("../images/map/F1/customer_service-01.svg");
    }
    &.betting-counter {
      background-image: url("../images/map/F1/betting_counter-01.svg");
    }
  }
}
.first-floor-container .blue-blocks {
  &.female-toilet {
    background-image: url("../images/map/F1/m1.png");
  }
  &.male-toilet {
    background-image: url("../images/map/F1/m2.png");
  }
  &.disable-toilet {
    background-image: url("../images/map/F1/m3.png");
  }
  &.customer-service-counter {
    background-image: url("../images/map/F1/m4.png");
  }
  &.betting-counter {
    background-image: url("../images/map/F1/m5.png");
  }
}
// &.female-toilet {
// }
// &.male-toilet {
// }
// &.disable-toilet {
// }
// &.customer-service-counter {
// }
// &.betting-counter {
// }
.sixth-floor-container {
  top: -52px;
  background-image: url("../images/map/6f-map.png");
  opacity: 0;
  transition: all 0.5s;
  background-position-y: 0;

  &.active {
    //background-position-y: 45px;
    top: 0;
    opacity: 1;
    transition: all .2s 1.2s;
  }
}
.map {
  left: 0;
  top: 0;
  position: absolute;
}
.lift-tunnel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  opacity: 0;
  //display: none;
  background-position-y: -80px;
  transition: opacity 2s 0s, top 0s 0s;
  &.f6 {
    background-image: url('../images/lift-tunnel/tunnel-to-6f.png');
    top: 4px;
    background-position-y: 0;
    transition: background-position-y .8s 0s,opacity .5s 2.5s, top .3s 2s;
    -webkit-mask-image: url('../images/lift-tunnel/tunnel-to-6f.png');
    -webkit-mask-repeat:space;
    &.active {
      opacity: 1;
      //top: 0;
      top:4px;
      background-position-y: 0;
      -webkit-mask-image: url('../images/lift-tunnel/tunnel-to-6f.png');
      -webkit-mask-repeat:space;
      transition: background-image 0s 0s, opacity 0s 0s, background-position-y .8s 0s, top 1s 2.1s;
    }
  }
  &.fg {
    background-image: url('../images/lift-tunnel/tunnel-to-gf.png');
    top: -52px;
    background-position-y: 0;
    transition: background-position-y .8s 0s,opacity .5s 2.5s, top 0s 0s;
    -webkit-mask-image: url('../images/lift-tunnel/tunnel-to-gf.png');
    -webkit-mask-repeat:space;
    &.active {

    }
  }
}
.map-container.gf-lift-active .lift-tunnel.active {
  opacity: 1;
}
.map-container.gf-lift-active .lift-tunnel.fg {
  //opacity: 1;
  //top: 0;
  top: -52px;
  background-position-y: 0;
  -webkit-mask-image: url('../images/lift-tunnel/tunnel-to-gf.png');
  -webkit-mask-repeat:space;
  transition: background-image 0s 0s,  opacity .2s 1.3s, background-position-y .8s 1.3s, top 0s 0s;
}
.tip-list {
  position: absolute;
  top: 667px;
  left: 727px;
  width: 300px;
  height:100px;
  display: none;
  z-index: 10;
  &.fg{
    display: block;
    &.step-1{
      .tip-1 .subtitle{
        background-image: url('../images/subtitle/subtitles-blue.png');
        color: #fff;
      }
    }
    &.step-2{
      .tip-2 .subtitle{
        background-image: url('../images/subtitle/subtitles-blue.png');
        color: #fff;
      }
      .tip-2 .bubble {
        opacity: 1;
        transition: opacity .3s;
      }
    }
    &.step-3{
      .tip-3 .subtitle{
        background-image: url('../images/subtitle/subtitles-blue.png');
        color: #fff;
      }
      .tip-3 .bubble {
        opacity: 1;
        transition: opacity .3s;
      }
    }
    &.step-4{
      .tip-4 .subtitle{
        background-image: url('../images/subtitle/subtitles-blue.png');
        color: #fff;
      }
      .tip-4 .bubble {
        opacity: 1;
        transition: opacity .3s;
      }
    }
    &.step-5{
      .tip-5 .subtitle{
        background-image: url('../images/subtitle/subtitles-blue.png');
        color: #fff;
      }
      .tip-5 .bubble {
        opacity: 1;
        transition: opacity .3s;
      }
    }
    &.step-6{
      .tip-6 .subtitle{
        background-image: url('../images/subtitle/subtitles-blue.png');
        color: #fff;
      }
      .tip-6 .bubble {
        opacity: 1;
        transition: opacity .3s;
      }
    }
    &.step-7{
      .tip-7 .subtitle{
        background-image: url('../images/subtitle/subtitles-blue.png');
        color: #fff;
      }
      .tip-7 .bubble {
        opacity: 1;
        transition: opacity .3s;
      }
    }
  }
  &.f6{
    display: block;
    &.step-1{
      .tip-1 .subtitle{
        background-image: url('../images/subtitle/subtitles-red.png');
        color: #fff;
      }
    }
    &.step-2{
      .tip-2 .subtitle{
        background-image: url('../images/subtitle/subtitles-red.png');
        color: #fff;
      }
      .tip-2 .bubble {
        opacity: 1;
        transition: opacity .3s;
      }
    }
    &.step-3{
      .tip-3 .subtitle{
        background-image: url('../images/subtitle/subtitles-red.png');
        color: #fff;
      }
      .tip-3 .bubble {
        top: -415px;
        opacity: 1;
        transition: opacity .3s;
      }
    }
    .tip-4, .tip-5, .tip-6, .tip-7{
      display: none;
    }
  }
}
.tips{
  display: block;
  height: 30px;
  width: 400px;
  position: relative;
  margin: 15px 0;
  //opacity: 0;
  /*&.active{
    opacity: 1;
    transition: all 0.3s;
  }*/
  .subtitle{
    position: relative;
    width: 30px;
    height: 30px;
    background-image: url("../images/subtitle/subtitles.png");
    background-repeat: no-repeat;
    float: left;
    font-weight: bold;
    color: #534741;
    letter-spacing: 0.125em;
    font-size: 18px;
    text-align: center;
    line-height: 14px;
    box-sizing: border-box;
    padding-top: 9px;
  }
  .text {
    position: absolute;
    left: 45px;
    top: 50%;
    transform: translateY(-50%);
    float: left;
    margin-top: 28px;
    font-size: 16px;
    line-height: 25px;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 0.05em;
    word-spacing: 0.1em;
    width: 300px;
    margin-top: 0;
    margin-left: 0;
  }
  .bubble {
    background-image: url("../images/subtitle/bubble-right.png");
    width: 188px;
    height: 52px;
    background-size: cover;
    position: absolute;
    color: #fff;
    padding: 10px 2px 10px 16px;
    box-sizing: border-box;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 35px;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .3s;
    &.bubble-up {
      background-image: url("../images/subtitle/bubble-up.png");
      width: 132px;
      height: 90px;
      padding: 10px 15px 20px 15px;
      line-height: 18px;
      text-align: left;
    }
    &.bubble-bottom {
      background-image: url("../images/subtitle/bubble-bottom.png");
      width: 174px;
      height: 82px;
      padding: 38px 5px 10px 5px;
    }
  }
}
.tip-2 .bubble {
  top: -323px;
  left: 103px;
}
.tip-3 .bubble {
  top: -345px;
  left: 103px;
}
.tip-4 .bubble {
  top: -367px;
  left: 41px;
}
.tip-5 .bubble {
  top: -330px;
  left: -120px;
}
.tip-6 .bubble {
  top: -150px;
  left: -460px;
}
.tip-7 .bubble {
  top: -320px;
  left: -530px;
}
#map-layer-commonMapText {
  left: -540px;
  top: -511.5px;
  z-index: 2;
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
}
#map-layer-commonLiftArrow {
  z-index: 1;
  opacity: 0;
  transition: all 1s;
  &.active {
    opacity: 1;
    //transition: margin-top 1s;
  }
}
.map-container.gf-active {
  #map-layer-commonLiftIcon {
    top: -52px;
  }
  #map-layer-commonLiftArrow {
    margin-top: -52px;
    transition: margin-top 1s .8s;
  }
}
#map-layer-commonLiftIcon {
  z-index: 3;
  opacity: 0.8;
}

#map-layer-mapIcons, #map-layer-mapIcons-gf, #map-layer-mapIcons-1f, #map-layer-mapIcons-6f {
  z-index: 3;
}

#map-layer-mapText, #map-layer-mapText-gf, #map-layer-mapText-1f, #map-layer-mapText-6f {
  left: -540px;
  top: -511.5px;
  z-index: 5;
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
}

#map-layer-guide {
  z-index: 2;
}
#map-layer-guide-gf,#map-layer-guide-6f {
  z-index: 2;
}

#map-layer-block, #map-layer-block-gf, #map-layer-block-6f  {
  z-index: 1;
}
#map-layer-block-gf {
  opacity: 0.6;
}
#map-layer-dest-bubble {
  z-index: 5;
}
#map-layer-stair {
  z-index: 6;
}
#map-layer-you-are-here,#map-layer-you-are-here-gf {
  z-index: 7;
}
#map-layer-you-are-here-text, #map-layer-you-are-here-text-gf {
  z-index: 8;
}

nav {
  display: inline-block;
  vertical-align: top;
}

ul {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
  }
}

.venue-title {
  position: absolute;
  top: 950px;
  right: 50px;
  font-size: 28px;
  text-transform: uppercase;
}

.farrier-on-2 {
  position: absolute;
  bottom: 100px;
  left: 260px;
  width: 500px;
  height: 200px;
  display: block;

  background-image: url('../images/farrier_on_2_500_200.svg');
}
.farrier-on-1 {
  position: absolute;
  bottom: 100px;
  left: 260px;
  width: 500px;
  height: 200px;
  display: block;

  background-image: url('../images/farrier_on_1_500_200.svg');
}

nav.side {
  width: 225px;
  text-transform: uppercase;
  font-weight: bold;

  li.active {
    color: #fff;
    text-shadow: 0 0 50px rgba(255, 255, 255, 0.8);
  }

  ul.language {
    padding-left: 30px;
    font-size: 28px;

    li {
      width: 30%;
      display: inline-block;
    }
  }

  ul.venue {
    margin-top: 50px;
    font-size: 16px;
    width: 240px;

    li {
      margin-bottom: 25px;

      &::after {
        content: ' ';
        height: 20px;
        display: block;
        padding-left: 0;
      }

      &.active::after {
        background-image: url('../images/on_press_line-01.svg');
      }

      span {
        padding-left: 30px;
        line-height: 22px;
      }
    }
  }
}

nav.locations {
  width: 766px;
  margin-left: 5px;
  padding-left: 50px;
  position: relative;
  ul {
    display: none;

    &.active {
      display: inline-block;
    }
  }

  .guide {
    position: absolute;
    width: 693px;
    left: 80px;
    top: -262px;
    text-align: left;
    padding-right: 40px;
    .floor {
      font-size: 80px;
      color: #A67C52;
      font-weight: 100;
      letter-spacing: 0.1em;
      margin-right: -12px;
    }
    .guide-title {
      margin-top: 28px;
      font-size: 26px;
      text-transform: uppercase;
      font-weight: normal;
      letter-spacing: 0.05em;
      word-spacing: 0.2em;
      white-space: pre;
      display: block;
      span {
        display: inline-block;
      }
    }
    .venue-photos {
      float: right;
      display: none;
      height: 200px;
      margin-top: -33.5px;
      &.active {
        display: block;
      }
      .venue-photo-container {
        display: none;
        background-image: url('../images/venue_photo_285_200.png');
        height: 160px;
        width: 245px;
        padding: 20px;
        &.active {
          display: block;
        }
      }
    }
  }
  li {
    margin-left: 5px;
    margin-right: 25px;
    display: inline-block;
    text-align: center;
    word-wrap: break-word;
    width: 120px;
    height: 165px;
    vertical-align: top;
    text-transform: uppercase;
    span {
      font-size: 12px;
      letter-spacing: 0.025em;
    }
  }

  ul.current-venue {
    button {
      width: 85px;
      height: 85px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
      display: block;
      border: 0;
      padding: 0;
      background-color: transparent;
      background-size: cover;
      background-image: url('../images/button.png');

      &:active, &.active {
        background-image: url('../images/button_pressed.png');
        outline: 0;
        box-shadow: 0;

        .pictogram {
          &.food-kiosk {
            background-image: url('../images/pictogram/food_kiosk_on_press.svg');
          }

          &.female-toilet {
            background-image: url('../images/pictogram/female toilet_on_press.svg');
          }

          &.male-toilet {
            background-image: url('../images/pictogram/male_toilet_on_press.svg');
          }

          &.disable-toilet {
            background-image: url('../images/pictogram/disable_toilet_on_press.svg');
          }

          &.customer-service {
            background-image: url('../images/pictogram/customer_service_on_press.svg');
          }

          &.self-ticketing {
            background-image: url('../images/pictogram/st_on_press-01.svg');
          }

          &.self-vending {
            background-image: url('../images/pictogram/sv_on_press-01.svg');
          }

          &.betting-counter {
            background-image: url('../images/pictogram/betting_counter_on_press.svg');
          }

          &.wifi {
            background-image: url('../images/pictogram/wifi_on_press-01.svg');
          }

          &.terrace {
            background-image: url('../images/pictogram/terrace_on_press.svg');
          }
        }
      }

      .pictogram {
        width: 85px;
        height: 85px;
        display: block;
        margin-left: auto;
        margin-right: auto;

        &.food-kiosk {
          background-image: url('../images/pictogram/food_kiosk-01.svg');
        }

        &.female-toilet {
          background-image: url('../images/pictogram/female toilet.svg');
        }

        &.male-toilet {
          background-image: url('../images/pictogram/male_toilet-01.svg');
        }

        &.disable-toilet {
          background-image: url('../images/pictogram/disable_toilet.svg');
        }

        &.customer-service {
          background-image: url('../images/pictogram/customer_service-01.svg');
        }

        &.self-ticketing {
          background-image: url('../images/pictogram/st-01.svg');
        }

        &.self-vending {
          background-image: url('../images/pictogram/sv.svg');
        }

        &.betting-counter {
          background-image: url('../images/pictogram/betting_counter.svg');
        }

        &.wifi {
          background-image: url('../images/pictogram/wifi.svg');
        }

        &.terrace {
          background-image: url('../images/pictogram/terrace.svg');
        }
      }

      &:focus {
        outline: 0;
        box-shadow: 0;
      }
    }
  }

  ul.other-venue {
    margin-top: -70px;
    position: relative;
    li {
      width: 320px;
      height: 500px;
      background-size: cover;
      background-image: url('../images/public_venue_320_500.png');
      background-repeat: no-repeat;
      margin-right: 35px;
      &[data-venue='leading-edge'] {
        position: absolute;
        top: 0;
        left: 15px;
        transition: all .5s;
        -webkit-filter: blur(0);
        transform: rotateY(0) scale(1) translateX(0) translateY(0);
        &.active {
          transition: all 1s .2s;
          -webkit-filter: blur(0);
          transform: rotateY(360deg) scale(1.05) translateX(22px) translateY(25px);
        }
        &.blur {
          transition: all .5s;
          -webkit-filter: blur(2px);
          transform: rotateY(0) scale(0.9) translateX(40px) translateY(0);
        }
      }
      &[data-venue='farrier-on-6'] {
        position: absolute;
        top:0;
        right: 15px;
        transition: all .5s;
        -webkit-filter: blur(0);
        transform: rotateY(0) scale(1) translateX(0) translateY(0);
        &.active {
          transition: all 1s .2s;
          -webkit-filter: blur(0);
          transform: rotateY(360deg) scale(1.05) translateX(-22px) translateY(25px);
        }
        &.blur {
          transition: all .5s;
          -webkit-filter: blur(2px);
          transform: rotateY(0) scale(0.9) translateX(-40px) translateY(0);
        }
      }
      header {
        span {
          line-height: 25px;
          font-size: 17px;
          letter-spacing: 0.05em;
          &.location {
            font-size: 14px;
          }
        }
      }
      &.active {
        background-image: url('../images/public_venue_on_press.png');
        background-size: contain;
        margin-left: -23px;
        margin-right: 0px;
        margin-top: -24px;
        //padding-right: 63px;
        height: 550px;
        width: 382px;
        padding: 30px;
        box-sizing: border-box;
/*
        > * {
          padding-left: 58px;
          padding-right: 2px;
        }

        header {
          padding-left: 28px;
          padding-right: 0;
          padding-top: 54px;
        }*/
      }

      > * {
        padding-left: 30px;
        padding-right: 30px;
      }

      p {
        text-align: justify;
        text-transform: none;
        font-size: 12px;
      }


      img {
        -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
        user-drag: none;
      }

      header {
        padding-top: 30px;
        margin-bottom: 15px;
        height: 50px;
        display: inline-block;
        justify-content: space-between;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        text-align: left;
        > div {
          display: inline-block;
          text-transform: uppercase;
        }

        .logo {
          align-self: center;
          display: inline-block;
          padding-left: 30px;
          min-width: 67px;
        }

        .info {
          align-self: center;
          text-align: right;
          float: right;
          padding-right: 30px;
          padding-top: 3px;
          .name {
            display: block;
            font-weight: bold;
            letter-spacing: 0.1em;
          }

          .location {
            display: block;
          }
        }
      }

      .vertical-line {
        width: 2px;
        height: 45px;
        margin-left: 10px;
        margin-right: auto;
        background-color: #534741;
        display: inline-block;

      }
    }
  }
}
nav.info-now {
  position: absolute;
  top: 15px;
  left: 50px;

  ul {
    display: inline-flex;
    li {
      display: inline-block;
      white-space: nowrap;
      padding: 33px 33px 33px 33px;
      position: relative;
    }
  }
  li {
    top: 0;
    button {
      width: 60px;
      height: 60px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 15px;
      display: block;
      border: 0;
      padding: 0;
      background-color: transparent;
      background-size: cover;
      background-image: url('../images/button_circle.png');
      &:focus {
        outline: 0;
        box-shadow: 0;
      }
      .day-of-week {
        text-transform: uppercase;
        font-weight: bold;
        color: #534741;
        letter-spacing: 0.125em;
        font-size: 13px;
      }
      .pictogram-weather {
        width: 60px;
        height: 60px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-position: center;
        &.temperature {
          background-position: -1px 1px;
        }
        &.condition {
          background-position: 0px 1px;
        }
        &.humidity {
          background-position: 0px 1px;
        }
      }
    }
    .info-text {
      font-size: 17px;
      letter-spacing: 0.1em;
      font-weight: bold;
      text-align: center;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      text-transform: uppercase;
      white-space: initial;
      &.humidity:after {
        content: '%';
      }
      &.temperature:after {
        content: '\0000B0C';
      }
    }
  }
}


body[data-displaying-lang="cht"], body[data-displaying-lang="chs"]{
  nav.locations li span {
    font-size: 16px;
  }

  nav.side ul.venue li span {
    font-size: 18px;
  }

  nav.locations ul.other-venue li p {
    font-size: 14px;
  }

  nav.locations ul.other-venue li header span {
    font-size: 20px;
  }
}
